@charset "utf-8";
/* CSS Document */
.logo {
    width: 25%;
    height: auto;
    
}
.indexButton1 {
    height: 50px;
    width: 15%;
    font-size: 35px;
    font-weight: bolder;
}
.loginSuButton1 {
    height: 30px;
    width: 170px;
    font-size: 23px;
    font-weight: bolder;
}
.signupLangSelect1{
    height: 30px;
    width: 170px;
}
.signupRedirectButton1 {
    height: 35px;
    width: 250px;
    font-size: 23px;
    font-weight: bolder;
}
.actionButton1 {
    height: 30px;
    width: 170px;
    font-size: 20px;
    font-weight: bolder;
}
.hiddenInput {
    visibility: hidden;
}
.settingsButtonHu {
    height: 30px;
    width: 240px;
    font-size: 20px;
    font-weight: bolder;
}

